// Basic
$white: #ffffff;

//Spacing
$spacing-color-purple: #783993;
$spacing-color-green: #5FA148;
$spacing-color-orange: #fd5403;
$spacing-color-blue: #034afd;
$spacing-color-white: #d4d4d4;
$spacing-color-marin: #0C0441;
$spacing-color-purple-white: #8589C5;
