@import "src/assets/scss/color";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
  height: 600px;
  color: white;
  justify-content: space-between;
  border-radius: 10px;

  .picture-me {
    width: auto;
    max-height: 250px;
    margin-top: 1em;

    img {
      width: auto;
      height: 100%;
      border-radius: 50%;
    }
  }

  .content-me {
    display: flex;
    height: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1, h2 {
      margin: 0;
    }
  }

  .social-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
    ul {
      display: flex;
      width: 60%;
      justify-content: space-around;

      li {
        font-size: 30px;

        a {
          text-decoration: none;
          color: white;
        }

        a:hover svg {
          transition: 0.5s;
          transform: scale(1.5);
        }
      }
    }
  }
}


@media screen and (max-width: 991px) {
  .profile {
    height: 400px;
  }
}
