@import "src/assets/scss/color";


.article {
  margin: 5em 0 5em 0;
  min-width: 60%;
  color: white;
  padding: 0 2%;
  max-height: 400px;
  overflow: auto;
  border-radius: 0 10px 10px 0;

  .title {
    h2 {
      padding: 2%;
    }

    .separator {
      width: 100%;
      border-bottom: 1px solid gray;
      display: flex;
    }
  }

  .about {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 1em;

    .content-about {
      padding: 1em;

      p {
        margin: 0;
      }

      border-right: 1px solid gray;
    }

    .description-about {
      padding: 1em;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;

        .ldd {
          margin-left: -6px;
          height: 10px;
          width: 50%;
          background-image: repeating-linear-gradient(-90deg,
                  $spacing-color-marin,
                  $spacing-color-marin 10px,
                  $spacing-color-purple-white 10px,
                  $spacing-color-purple-white 20px);
        }

        .cat {
          font-weight: 700;
        }
      }

    }
  }

  .stack {
    .images {
      display: flex;
      align-items: center;
      padding: 1em;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    img {
      height: auto;
      width: 26%;
      margin-top: 1em;
    }

    .css {
      width: 20%;
    }

  }

  .contact {
    margin: 2em auto 0 auto;

    ul {
      margin: auto;
      display: flex;
      width: 40%;

      justify-content: space-between;

      li {
        font-size: 30px;
      }

      a {
        color: white;
      }

      a:hover svg {
        transition: 0.5s;
        transform: scale(1.5);
      }
    }
  }

  .mission{
    svg{
      color: $spacing-color-orange;
      font-size: 15px;
      margin-right: 5px;
    }
  }


  // Spacing
    .spacing {
    h2 {
      color: black;
    }

    .back, .front {
      margin-bottom: 1em;
      background-color: $white;
    }

  }
}
