@import "src/assets/scss/color";
@import "src/assets/scss/themes";

header {
  width: 50%;
  margin-top: 5em;

  button {
    background: #d4d4d4;
    padding: 0.7em;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85px;
    justify-content: center;

    svg {
      font-size: 20px;
    }
  }

  nav {
    height: 100%;

    .list-item {
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      .btn-theme {
        margin-bottom: 20px;

        button {
          border-radius: 10px;
          background-color: black;
          color: white;
          border: 4px solid white;
        }
      }

      .menu-right {
        li:nth-child(1) > button {
          border-radius: 10px 10px 0 0;
        }

        li:nth-child(4) > button {
          border: none;
          border-radius: 0 0 10px 10px;
        }
      }
    }

    .menu {
      display: none;
      position: absolute;
      top: 161px;
      left: 219px;
      z-index: 100;
      padding: 0;
      margin: 0;
      width: 300px;

      ul {
        display: flex;
        flex-direction: row;
        width: 100%;

        li {
          margin-left: 10px;

          button {
            border-radius: 10px;
            background-color: black;
            color: white;
            border: 4px solid white;
            min-width: 85px;

          }
        }
      }
    }
  }


}

// Tablette
@media screen and (max-width: 991px) {
  header {
    width: 100%;
    margin: 1em 0;

    button {
      border: none;

      p {
        margin: 0 1em;
      }
    }

    nav {
      margin: 0;
      width: 100%;

      .list-item {
        margin: 0;
        flex-direction: row;
        justify-content: space-between;

        .btn-theme {
          margin: auto 10px auto 0;
          width: 85px;

          button {
            top: 10px;
            padding: 1em 0.7em;
          }
        }

        .menu {
          top: 131px;
          left: 0;
          margin: 0 8%;

          ul {
            flex-direction: column;

            li {
              margin: 0 0 10px 0;

              button {
                width: 85px;
              }
            }
          }

        }

        .menu-right {
          display: flex;
          width: 60%;

          li {
            width: 25%;

            button {
              width: 100%;
            }
          }

          li:nth-child(1) > button {
            border-radius: 10px 0 0 10px;
          }

          li:nth-child(4) > button {
            border-radius: 0 10px 10px 0;
          }
        }
      }
    }
  }
}


// Iphone
@media screen and (max-width: 500px) {
  .menu-right {
    width: 80% !important;
  }
}


