@import "assets/scss/color";
@import "assets/scss/balise-basic";
@import "assets/scss/class-basic";
@import "assets/scss/themes";

.app {
  background-size: cover;
  padding: 5% 0;
  min-height: 100vh;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 2%;
  margin: 0 8%;
}





@keyframes transit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Tablette
@media screen and (max-width: 991px) {
  .layout{
    grid-template-columns: 100%;
  }
}

// Iphone
@media screen and (max-width: 500px) {
}
